.supportHelpdesk {
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  z-index: 1;
}
.phone,
.starShape,
.supportHelpdesk {
  align-self: stretch;
  position: relative;
}
.phone {
  height: 34px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.starShape {
  font-size: var(--font-size-xl);
  line-height: 28px;
  z-index: 2;
}
.assignmentOperator {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs-1);
}
.assignmentOperator,
.breakpoint,
.supportHelpdeskParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.breakpoint {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.supportHelpdeskParent {
  width: 372px;
  flex-direction: column;
  gap: var(--gap-2xl-1);
}
.quickLinks {
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.aboutUs,
.benefits,
.features,
.home,
.howItWorks {
  width: 129px;
  height: 33px;
  position: relative;
  line-height: 40px;
  display: inline-block;
  z-index: 1;
}
.aboutUs,
.benefits,
.howItWorks {
  height: 34px;
}
.benefits,
.howItWorks {
  width: 156px;
}
.benefits {
  width: 129px;
}
.quickLinksParent {
  width: 182px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-4);
}
.socialMedia {
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.facebook {
  width: 129px;
  height: 34px;
  display: inline-block;
}
.facebook,
.instagram,
.linkedin,
.twitter {
  position: relative;
  line-height: 40px;
  z-index: 1;
}
.twitter {
  width: 129px;
  height: 33px;
  display: inline-block;
}
.instagram,
.linkedin {
  align-self: stretch;
}
.linkedin {
  height: 34px;
  display: inline-block;
}
.instagramParent,
.socialMediaParent {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.socialMediaParent {
  width: 184px;
  gap: var(--gap-7xl-9);
}
.styleProfiles,
.symbolInstances {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.styleProfiles {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.symbolInstances {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--obsidian);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 1650px) {
  .styleProfiles {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .quickLinks,
  .socialMedia,
  .supportHelpdesk {
    font-size: var(--font-size-5xl);
    line-height: 53px;
  }
  .styleProfiles {
    gap: 80px 40px;
  }
}
@media screen and (max-width: 450px) {
  .supportHelpdesk {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .phone {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .starShape {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .quickLinks {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .aboutUs,
  .benefits,
  .features,
  .home,
  .howItWorks {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .socialMedia {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .facebook,
  .instagram,
  .linkedin,
  .twitter {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .styleProfiles {
    gap: 80px 20px;
  }
}

