.contactUs,
.torryHarrisIntegrated {
  align-self: stretch;
  position: relative;
}
.contactUs {
  height: 58px;
  line-height: 66px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.torryHarrisIntegrated {
  font-size: var(--font-size-6xl);
  line-height: 40px;
  z-index: 2;
}
.ruleComparator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-4);
}
.address,
.ground1st2nd {
  align-self: stretch;
  position: relative;
}
.address {
  height: 34px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.ground1st2nd {
  font-size: var(--font-size-xl);
  text-decoration: underline;
  line-height: 28px;
  color: inherit;
  z-index: 2;
}
.dataAggregator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-1);
}
.phone {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  z-index: 1;
}
.arcConnection {
  width: 177px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 28px;
  display: inline-block;
  z-index: 3;
}
.phoneParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email,
.helptorryharriscom {
  align-self: stretch;
  position: relative;
}
.email {
  height: 34px;
  line-height: 40px;
  display: inline-block;
  z-index: 2;
}
.helptorryharriscom {
  font-size: var(--font-size-xl);
  line-height: 28px;
  white-space: nowrap;
  z-index: 4;
}
.emailParent,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.emailParent {
  width: 307px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs-1);
  margin-left: -307px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.connectionComparator {
  align-self: stretch;
  gap: var(--gap-lg);
  font-size: var(--font-size-6xl);
}
.connectionComparator,
.decisionComparator,
.patternComparator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.patternComparator {
  align-self: stretch;
  gap: var(--gap-31xl);
}
.decisionComparator {
  width: 484px;
  padding: var(--padding-11xs-1) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
}
.supportHelpdesk {
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  z-index: 1;
}
.phone1,
.starShape,
.supportHelpdesk {
  align-self: stretch;
  position: relative;
}
.phone1 {
  height: 34px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.starShape {
  font-size: var(--font-size-xl);
  line-height: 28px;
  z-index: 2;
}
.frameWrapper,
.phoneGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.phoneGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs-1);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.email1,
.supporttorryharriscom {
  align-self: stretch;
  position: relative;
}
.email1 {
  height: 34px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.supporttorryharriscom {
  font-size: var(--font-size-xl);
  line-height: 28px;
  white-space: nowrap;
  z-index: 2;
}
.emailGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs-1);
}
.emailGroup,
.frameContainer,
.supportHelpdeskParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.supportHelpdeskParent {
  width: 372px;
  flex-direction: column;
  gap: var(--gap-2xl-1);
}
.quickLinks {
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.aboutUs,
.benefits,
.features,
.home,
.howItWorks {
  width: 129px;
  height: 33px;
  position: relative;
  line-height: 40px;
  display: inline-block;
  z-index: 1;
}
.aboutUs,
.benefits,
.howItWorks {
  height: 34px;
}
.benefits,
.howItWorks {
  width: 156px;
}
.benefits {
  width: 129px;
}
.quickLinksParent {
  width: 182px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-4);
}
.socialMedia {
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 66px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.facebook {
  width: 129px;
  height: 34px;
  display: inline-block;
}
.facebook,
.instagram,
.linkedin,
.twitter {
  position: relative;
  line-height: 40px;
  z-index: 1;
}
.twitter {
  width: 129px;
  height: 33px;
  display: inline-block;
}
.instagram,
.linkedin {
  align-self: stretch;
}
.linkedin {
  height: 34px;
  display: inline-block;
}
.cylinderComponent,
.parallelogramComponent {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.cylinderComponent {
  width: 184px;
  gap: var(--gap-7xl-9);
}
.dataComparator,
.errorComparator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.errorComparator {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.dataComparator {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--obsidian);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 1650px) {
  .errorComparator {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .contactUs {
    font-size: var(--font-size-5xl);
    line-height: 53px;
  }
  .patternComparator {
    gap: 25px 50px;
  }
  .quickLinks,
  .socialMedia,
  .supportHelpdesk {
    font-size: var(--font-size-5xl);
    line-height: 53px;
  }
  .errorComparator {
    gap: 80px 40px;
  }
}
@media screen and (max-width: 450px) {
  .contactUs {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .address,
  .torryHarrisIntegrated {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .ground1st2nd {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .phone {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .arcConnection {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .email {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .helptorryharriscom {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .supportHelpdesk {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .phone1 {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .starShape {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .email1 {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .supporttorryharriscom {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .quickLinks {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .aboutUs,
  .benefits,
  .features,
  .home,
  .howItWorks {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .socialMedia {
    font-size: var(--font-size-lg);
    line-height: 40px;
  }
  .facebook,
  .instagram,
  .linkedin,
  .twitter {
    font-size: var(--font-size-xl);
    line-height: 32px;
  }
  .errorComparator {
    gap: 80px 20px;
  }
}
