.dataDrivenInsights {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.dataDrivenInsightsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--obsidian);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 900px) {
  .dataDrivenInsights {
    font-size: var(--font-size-13xl);
    line-height: 56px;
  }
}
@media screen and (max-width: 450px) {
  .dataDrivenInsights {
    font-size: var(--font-size-5xl);
    line-height: 42px;
  }
}
