.addCircleIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.button {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 92px;
}
.ctaButtons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-19xl);
  background-color: transparent;
  height: 60px;
  border-radius: var(--br-11xl);
  background: linear-gradient(90deg, #1456ff, #5013ff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.imageUploader,
.layoutSettings {
  display: flex;
  align-items: flex-start;
}
.imageUploader {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
}
.layoutSettings {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-11xl);
}
@media screen and (max-width: 1025px) {
  .layoutSettings {
    flex-wrap: wrap;
  }
}
