.enhanced,
.skillManagement {
  margin: 0;
}
.enhancedSkillManagementContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.validationSuite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-3) 0 0;
  box-sizing: border-box;
  min-width: 329px;
  max-width: 100%;
}
.effortlesslyKeepTrack {
  width: 645px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 645px;
  max-width: 100%;
  z-index: 1;
}
.connectionBuilder {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.dataFlowController,
.resultRenderer {
  align-self: stretch;
  box-sizing: border-box;
}
.resultRenderer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-5);
  max-width: 100%;
  flex-shrink: 0;
}
.dataFlowController {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-mediumblue);
  z-index: 1;
}
.dataDrivenInsights {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.statisticCalculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.gainActionableInsights {
  height: 144px;
  width: 645px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 645px;
  max-width: 100%;
  z-index: 1;
}
.resultAnalyzer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.resultRenderer1,
.testGenerator {
  align-self: stretch;
  box-sizing: border-box;
}
.testGenerator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-5);
  max-width: 100%;
}
.resultRenderer1 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-mediumblue);
  z-index: 1;
}
.userFriendlyInterface {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70.5px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.patternVisualizer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-8) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.effortlesslyKeepTrack1 {
  width: 645px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 645px;
  max-width: 100%;
  z-index: 1;
}
.decisionVisualizer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.resultRenderer2,
.resultRenderer3 {
  align-self: stretch;
  box-sizing: border-box;
}
.resultRenderer2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-5);
  max-width: 100%;
}
.resultRenderer3 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-mediumblue);
  z-index: 1;
}
.increasedProductivity {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.increasedProductivityWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-3) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.skillmatrixsStreamlinedSkil {
  width: 645px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 645px;
  max-width: 100%;
  z-index: 1;
}
.frameParent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.errorVisualizer,
.frameParent,
.resultRenderer4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.resultRenderer4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-5);
  box-sizing: border-box;
}
.errorVisualizer {
  gap: var(--gap-40xl-8);
}
.algorithmExecutor,
.errorVisualizer,
.testGeneratorParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.testGeneratorParent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-44xl-7);
  max-width: 100%;
}
.algorithmExecutor {
  gap: var(--gap-42xl);
  flex-shrink: 0;
}
.algorithmExecutor,
.conditionChecker,
.ruleApplier {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.conditionChecker {
  width: 1379px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-39xl);
}
.ruleApplier {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-83xl-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--obsidian);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 1650px) {
  .effortlesslyKeepTrack1 {
    flex: 1;
  }
  .decisionVisualizer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .validationSuite {
    flex: 1;
  }
  .effortlesslyKeepTrack {
    flex: 1;
    min-width: 100%;
  }
  .connectionBuilder {
    flex-wrap: wrap;
  }
  .gainActionableInsights {
    flex: 1;
    min-width: 100%;
  }
  .resultAnalyzer {
    flex-wrap: wrap;
  }
  .effortlesslyKeepTrack1 {
    min-width: 100%;
  }
  .skillmatrixsStreamlinedSkil {
    flex: 1;
    min-width: 100%;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .ruleApplier {
    padding-bottom: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .enhancedSkillManagementContainer {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .dataDrivenInsights,
  .increasedProductivity,
  .userFriendlyInterface {
    font-size: var(--font-size-13xl);
    line-height: 56px;
  }
  .errorVisualizer {
    gap: 30px 59.8px;
  }
  .testGeneratorParent {
    gap: 32px 63.7px;
  }
  .algorithmExecutor {
    gap: 30px 61px;
  }
  .conditionChecker {
    gap: 29px 58px;
  }
  .ruleApplier {
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .enhancedSkillManagementContainer {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .effortlesslyKeepTrack {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .dataDrivenInsights {
    font-size: var(--font-size-5xl);
    line-height: 42px;
  }
  .gainActionableInsights {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .userFriendlyInterface {
    font-size: var(--font-size-5xl);
    line-height: 42px;
  }
  .effortlesslyKeepTrack1 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .increasedProductivity {
    font-size: var(--font-size-5xl);
    line-height: 42px;
  }
  .skillmatrixsStreamlinedSkil {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .testGeneratorParent {
    gap: 16px 63.7px;
  }
  .algorithmExecutor {
    gap: 15px 61px;
  }
}
