.element4Icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 108px;
}
.sidebar {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-53xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.sortIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard1 {
  position: relative;
  font-weight: 500;
}
.sidebar1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-26xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.messageEditIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
}
.sidebar2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-101xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.folder2Icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard3 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.sidebar3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-42xl) var(--padding-3xs)
    var(--padding-3xs);
  background-color: var(--color-white);
  align-self: stretch;
  height: 46px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.sidebar3:hover {
  background-color: var(--color-gainsboro-100);
}
.notificationIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 120px;
}
.sidebar4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-41xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.messageQuestionIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard5 {
  position: relative;
  font-weight: 500;
}
.sidebar5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-12xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.setting2Icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dashboard6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.sidebar6,
.sidebarContainer {
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.sidebar6 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-81xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-mini);
  cursor: pointer;
}
.sidebarContainer {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 450px) {
  .dashboard,
  .dashboard1,
  .dashboard2,
  .dashboard3,
  .dashboard4,
  .dashboard5,
  .dashboard6 {
    font-size: var(--font-size-lg);
  }
}
